<!DOCTYPE html>

{% extends "basicapp/base.html" %}
{% load staticfiles %}

    {% block body_block %}

        <h1>The Real Django we know!</h1>
        <img src="{% static 'images/django.jpeg' %}" alt="">
        <h2>Here are your access records:</h2>

        <div class="django">
            {% if access_records %}
            <table>
                <thead>
                    <th>Site Name</th>
                    <th>Date Accessed</th>
                </thead>
                {% for acc in access_records %}
            <tr>
                <td>{{ acc.name }}</td>
                <td>{{ acc.date }}</td>
            </tr>
            {% endfor %}
            </table>
            {% else %}
            <p>NO ACCESS RECORDS FOUND!</p>
            {% endif %}
        </div>
 {% endblock %}